.CarouselCloser {
  position: absolute;
  top: 5px;
  right: 5px;
}

.CarouselColumn {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 5px;
  top: 5px;
  width: 9%;
}

.CarouselColumn > div {
  margin-bottom: 5px;
}

.CarouselWrapper {
  width: 100%;
  height: 100%;
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.CarouselSlider {
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
